body {
  --callout-quote: 240, 98, 146;
}

/* inline-code */
.markdown-rendered code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
  background-color: rgba(142, 150, 170, 0.14);
  color: #8a5cf5;
}

/* task */
ul > li.task-list-item[data-task="x"],
ul > li.task-list-item[data-task="X"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
  text-decoration: unset;
  color: unset;
}

.callout-content hr {
  margin: 0;
}

/* 双链预览不显示标题 */
.markdown-embed-title,
.markdown-embed .mod-header + div > :is(h1, h2, h3, h4, h5, h6) {
  display: none;
}

.markdown-source-view .markdown-embed ul > li,
.markdown-source-view .markdown-embed ol > li {
  margin-inline-start: 0;
}
